
:root{
    --blanco: #ffffff;
    --oscuro: #0B0D17;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
    text-decoration: none;
}
body{
    background: var(--blanco);
    font-family: 'Inter',sans-serif;
    font-size: 16px; /*1 rem = 10px*/
    transition: .5s ease all;
}
body.dark{
    background: var(--oscuro);
    transition: .5s ease all;
}

/******************************************************************* HEADER ******************************************************************/
.logo{
    color: var(--oscuro);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.6rem;
    transition: .5s ease all;
    letter-spacing: 1px;
}
body.dark .logo{
    color: var(--blanco);
}
header{
    background-color:var(--blanco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 8rem;
    max-height: 7.2rem;
    transition: .5s ease all;
}
@media (min-width: 1080px) {
    header{
        padding: 1rem 25rem;
    }
}
body.dark header{
    background-color: var(--oscuro);
    transition: .5s ease all
}

.nav-menu ul{
    padding: 0;
}
@media (max-width: 769px) {
    .nav-menu ul{
        margin-top:0;
        margin-bottom:0;
    }
}
.nav-menu ul li{
    list-style: none;
    display: inline-block;
    margin: 0 2rem;
    position: relative;      
}
.nav-menu ul li:last-child{
    margin-right: 0;
}
.nav-menu li a{
    color: var(--oscuro);
    font-style: normal;
    font-size: 1.6rem;
    line-height: 2rem;
}
body.dark .nav-menu li a{
    color: var(--blanco);
}
@media (min-width: 769px) {
    .nav-menu ul li::before {
        content: "";
        height: 3px;
        width: 0%;
        background: var(--oscuro);
        position: absolute;
        left: 0;
        bottom: -12px;
        transition: 0.4s ease-out;
    }
    body.dark .nav-menu ul li::before{
        background: var(--blanco);
        transition: .5s ease all;
    }
    .nav-menu ul li:last-of-type::before{
        height: 0;
        width: 0;
    }
    .nav-menu li:hover::before {
        width: 100%;       
    }
}
.switch{
    background:#343d5b;
    border-radius: 100rem;
    border:none;
    cursor: pointer;
    position: relative;
    display: flex;
    outline: none;
    padding: 0;  
}
span{
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    display: block;
    background: none;
    color: var(--blanco);
}
.switch::after{
    content: "";
    display: block;
    width: 3rem;
    height: 3rem;
    position: absolute;
    background: #f1f1f1;
    top:0;
    left:0;
    right: unset;
    border-radius: 10rem;
    transition: .3s ease all;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);
}
.active{
    background: orange;
    color: var(--oscuro);
    
}
.active::after{
    right: 0;
    left: unset;
}

/******************************************************************* MENU RESPONSIVE ******************************************************************/
.menu-icon img{
    width: 30px;
    height: 30px;
    border-radius: 2px;
}
.menu-icon, #check{
    display: none;
}

@media (max-width: 768px ) {
    .checkbtn{
        display: block;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    .nav-menu ul{
        display: block;
        position: fixed;
        top: 70px;
        left: -100%;
        background: var(--blanco);
        width: 100%;
        height: 100vh;
        right: 0;
    }
    body.dark .nav-menu ul{
        background:var(--oscuro);
    }
    .nav-menu li{
        margin-right: 0rem;  
    }
    .nav-menu ul li{
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin:0;
    }
    .nav-menu li:hover {
        font-weight: bold;    
    }
    #check:checked ~ ul{
        left: 0;
        transition: all 0.25s;
    }
    header{
        height: 7.2rem;
        padding: 1rem 5rem;
    }
}
body.dark .menu-color{
    fill: var(--blanco);
}

/******************************************************************* GALERIA ******************************************************************/
.contenedor{
    margin: 0 8rem;
}
@media (min-width: 1080px) {
    .contenedor{
        margin: 0 25rem;
    }
}
.imagen{
    width: 100%;  
}
.imagen img{
    width: 100%;
    display: block;
    border-radius: .5rem;
}
.galeria{
    width: 100%;
    margin: auto;
    display: grid;
    column-gap: 5rem;
    row-gap: 5rem;
}
/******************************************************************* GALERIA RESPONSIVE ******************************************************************/
@media (min-width: 100px) {
    .galeria{
        grid-template-columns: repeat(1, 1fr);
    }   
}
@media (min-width: 520px) {
    .galeria{
        grid-template-columns: repeat(2, 1fr);
    }   
}
@media (min-width: 768px) {
    .galeria{
        grid-template-columns: repeat(3, 1fr);
    }   
}

/******************************************************************* FOOTER******************************************************************/
.content{
    max-width: 140rem;
    margin: 3rem auto 1rem auto;
    min-height: 2.4rem; 
}
.pie{   
    display: flex;
    align-items: center;
    justify-content:space-around;
    color:var(--oscuro);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.4rem;
    transition: .5s ease all;
    text-align: center;
     
}
body.dark .pie{
    color: var(--blanco);
    transition: .5s ease all;
}

/******************************************************************* SOBRE MI ******************************************************************/
.contenedor-main{
    min-height: calc(100vh - 7.2rem - 6.4rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0rem 8rem 0rem;
    margin: 0;
}
@media (max-width: 400px) {
    .contenedor-main{
        min-height: calc(100vh - 7.2rem - 8.8rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
    }
}
.contenedor-sobremi{
    max-width: 60%;
    margin: 0 auto;
    display: flex;    
    align-items: center;  
}
.sobremi-texto{
    margin-left: 3rem;
}
body.dark .sobremi-texto{
    color: var(--blanco);
}
.sobremi-texto h1{
    text-align: left;
}
.sobremi-texto p{
    text-align:justify;
    line-height: 1.7;
}
.imagen-sobremi{
    max-width:35%;
    border-radius: .5rem;
}

@media (max-width: 1080px) {

    .contenedor-sobremi{
        max-width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .sobremi-texto{
        margin: 0;
    }
    .sobremi-texto h1{
        text-align: center;
    }
    .sobremi-texto p{
        text-align:justify;
        line-height: 1.7;
    }
    .imagen-sobremi{
        max-width: 50%;
    }
}
@media (max-width: 600px) {
    .imagen-sobremi{
        max-width: 70%;
    }
}


/******************************************************************* CONTACTO ******************************************************************/

.contenedor-main{
    min-height: calc(100vh - 7.2rem - 6.4rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}
@media (max-width: 400px) {
    .contenedor-main{
        min-height: calc(100vh - 7.2rem - 8.8rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
    }
}
.formulario{
    width: min(60rem, 100%); /*utliza el valor mas pequeño*/
    margin: 0 auto;
    padding: 2rem;
    border-radius: 3rem;
}
.formulario fieldset{
    border: none;
}
.formulario legend{
    color: var(--oscuro);
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0;
}
body.dark .formulario legend{
    color: var(--blanco);
}
@media (min-width: 768px) {
    .contenedor-main{
        min-height: calc(100vh - 7.2rem - 6.4rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 8rem 8rem 8rem;
        margin: 0;
    }
    .contenedor-campos{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 18rem;
        column-gap: 1rem;
        max-height: 30rem;

    }
}
.campo{
    margin: 1rem 0;
    max-height: 12rem;

}

.campo label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.campo textarea{
    height: 12rem;
    margin:0;
}

body.dark .campo label{
    color: var(--oscuro);
}
.input-text{
    display: block;
    width: 100%;
    border-color: var(--oscuro);
    border-width: .2rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
}
@media (max-width: 768px) {
    .enviar .boton{
        width: 100%;
    }
}
.enviar{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.enviar .boton{
    margin-top: 0rem;
}

.boton{
    background-color: var(--blanco);
    color: var(--oscuro);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 1.8rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.5rem;/*esquinas redondeadas*/
    width: 80%;
    text-align: center;
    border-color: var(--oscuro);
    border-width: .2rem;
}
@media (min-width: 768px) {
    .boton{
        width:auto;
    }
}
.boton:hover{
    cursor: pointer;
    background-color: var(--oscuro);
    color: var(--blanco);
}

body.dark .boton:hover{
    border-color: var(--blanco);
}

/******************************************************************* VENTANA MODAL ******************************************************************/
.modal-container{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top:0;
    left:0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    width:30%;
    height: 50%;
    background: var(--blanco);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 0.8s;
    transform: translateY(0%);
    border-radius: 1rem;
}
.close{
    position: absolute;
    top: .5rem;
    right: 1.5rem;
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    background: var(--oscuro);
    color: var(--blanco);
    line-height: 2.5rem;
    cursor: pointer;
    border-radius: 50%;
}
.modal-close{
    transform: translateY(-200%);
}
.modal > img{
    height: 40%;
}
.modal-textos h2{
    margin: 0 1rem 1rem 1rem;
}
.texto-modal{
    margin: 1rem;
    line-height: 1.5;
}
@media (max-width: 1260px) {
    .modal{
        width: 50%;
    }
}
@media (max-width: 768px) {
    .modal{
        width: 55%;
    }
}
@media (max-width: 600px) {
    .modal{
        width: 70%;
    }
    .modal > img{
        height: 40%;
    }
}
